@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$clr-black: #1c1c1c;
$clr-gray: #ececec;
$clr-white: #f7f7f7;
$clr-red: #e3350d;

$type-normal: #A8A878;
$type-fire: #F08030;
$type-water: #6890F0;
$type-grass: #78C850;
$type-electric: #F8D030;
$type-ice: #98D8D8;
$type-fighting: #C03028;
$type-poison: #A040A0;
$type-ground: #E0C068;
$type-flying: #A890F0;
$type-psychic: #F85888;
$type-bug: #A8B820;
$type-rock: #B8A038;
$type-ghost: #705898;
$type-dark: #705848;
$type-dragon: #7038F8;
$type-steel: #B8B8D0;
$type-fairy: #F0B6BC;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $clr-black;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: $clr-gray;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: $clr-gray;
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-all {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-all {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 533px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon-id-back {
        font-size: 6rem;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: $clr-white;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;
}

.pokemon:hover {
    background-color: $clr-red;
    transition: background-color 0.3s ease;
}

.pokemon:hover .pokemon-name {
    color: #fff !important;
    transition: color 0.3s ease;
}

.pokemon:hover .pokemon-id {
    background-color: $clr-black;
    transition: background-color 0.3s ease;
    color: $clr-white;
    transition: color 0.2s ease;
}

.pokemon:hover .stat {
    background-color: $clr-black;
    transition: background-color 0.3s ease;
    color: $clr-white;
    transition: color 0.2s ease;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: $clr-gray;
}

.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 100%;
    max-width: 6rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .55rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.name-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: $clr-gray;
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.4rem;
}

.pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: $clr-gray;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.normal {
    background-color: $type-normal;
    color: $clr-black;
}

.fire {
    background-color: $type-fire;
    color: $clr-black;
}

.water {
    background-color: $type-water;
    color: $clr-white;
}

.grass {
    background-color: $type-grass;
    color: $clr-black;
}

.electric {
    background-color: $type-electric;
    color: $clr-black;
}

.ice {
    background-color: $type-ice;
    color: $clr-black;
}

.fighting {
    background-color: $type-fighting;
    color: $clr-white;
}

.poison {
    background-color: $type-poison;
    color: $clr-white;
}

.ground {
    background-color: $type-ground;
    color: $clr-black;
}

.flying {
    background-color: $type-flying;
    color: $clr-black;
}

.psychic {
    background-color: $type-psychic;
    color: $clr-black;
}

.bug {
    background-color: $type-bug;
    color: $clr-black;
}

.rock {
    background-color: $type-rock;
    color: $clr-black;
}

.ghost {
    background-color: $type-ghost;
    color: $clr-white;
}

.dark {
    background-color: $type-dark;
    color: $clr-white;
}

.dragon {
    background-color: $type-dragon;
    color: $clr-white;
}

.steel {
    background-color: $type-steel;
    color: $clr-black;
}

.fairy {
    background-color: $type-fairy;
    color: $clr-black;
}