<app-header></app-header>
<main>
    <div id="all">
        <div class="pokemon-all" id="pokemonList">
            <div class="pokemon">
                <p class="pokemon-id-back">#025</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                        alt="Pikachu">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#025</p>
                        <h2 class="pokemon-name">Pikachu</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="electric type">ELECTRIC</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">4m</p>
                        <p class="stat">60kg</p>
                    </div>
                </div>
            </div>

            <div class="pokemon">
                <p class="pokemon-id-back">#007</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png"
                        alt="Squirtle">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#007</p>
                        <h2 class="pokemon-name">SQUIRTLE</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="water type">WATER</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">5m</p>
                        <p class="stat">90kg</p>
                    </div>
                </div>
            </div>

            <div class="pokemon">
                <p class="pokemon-id-back">#004</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"
                        alt="Charmander">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#004</p>
                        <h2 class="pokemon-name">CHARMANDER</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="fire type">FIRE</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">6m</p>
                        <p class="stat">85kg</p>
                    </div>
                </div>
            </div>

            <div class="pokemon">
                <p class="pokemon-id-back">#001</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                        alt="Bulbasaur">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#001</p>
                        <h2 class="pokemon-name">BULBASAUR</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="grass type">GRASS</p>
                        <p class="poison type">POISON</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">6m</p>
                        <p class="stat">85kg</p>
                    </div>
                </div>
            </div>

            <div class="pokemon">
                <p class="pokemon-id-back">#016</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/16.png"
                        alt="Pidgey">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#016</p>
                        <h2 class="pokemon-name">pidgey</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="normal type">normal</p>
                        <p class="flying type">flying</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">3m</p>
                        <p class="stat">18kg</p>
                    </div>
                </div>
            </div>

            <div class="pokemon">
                <p class="pokemon-id-back">#133</p>
                <div class="pokemon-image">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/133.png"
                        alt="Eevee">
                </div>
                <div class="pokemon-info">
                    <div class="name-container">
                        <p class="pokemon-id">#133</p>
                        <h2 class="pokemon-name">Eevee</h2>
                    </div>
                    <div class="pokemon-types">
                        <p class="normal type">Normal</p>
                    </div>
                    <div class="pokemon-stats">
                        <p class="stat">3m</p>
                        <p class="stat">65kg</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</main>