.pikachu-container {
    text-align: center;

    p {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
    }

    img {
        width: 50%;
    }
}

.overlay {
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.fade-out {
    animation: fadeOut 0.7s ease-in-out forwards;
}